@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: iransans;
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: local('IRANSans'), url(../fonts/IRANSansWeb.woff2) format('woff')
    }

    @font-face {
        font-family: iransans;
        font-style: normal;
        font-weight: bold;
        font-display: swap;
        src: local('IRANSans'), url(../fonts/IRANSansWeb_Bold.woff2) format('woff')
    }
}

@layer components {

    .badge-primary {
        @apply text-white  text-sm   rounded-full  font-semibold py-1 px-4  bg-green-500
    }
    .btn-primary {
        @apply bg-green-500 text-white rounded-[6px]  px-10 py-3 font-normal text-sm px-7 lg:text-lg 
    }
    .btn-secondary {
        @apply bg-gray-700  text-white rounded-[6px]  px-5 py-3 font-normal text-sm px-2 lg:text-lg 
    }

}